.header {
display: grid;
grid-template-columns: 1fr min-content 1fr;
align-items: center;
padding: 93px 50px 91px 50px;
}

.header__menu {
display: flex;
}

.header__links-list {
display: flex;
padding-bottom: 6px;
gap: 33px;
list-style: circle;
}

.header__links-list-item {
font-size: 18px;
text-transform: lowercase;
text-underline-offset: 2px;
}

.header__links-list-item_no-bullit {
list-style-type: none;
}

.header__logo {
width: 136px;
justify-self: center;
}

.header__address {
display: flex;
flex-direction: column;
justify-self: end;
padding-right: 36px;
max-width: 239px;
font-size: 18px;
text-underline-offset: 4px;
font-style: normal;
line-height: 24px;
padding-bottom: 5px;
}

.cover {
background-image: url(../images/cover.jpg);
background-size: cover;
background-position: center;
min-height: 757px;
position: relative;
}

.overlay {
position: absolute;
inset: 0;
background-color: rgb(0 0 0 / 0.6);
}

.cover__title {
position: relative;
padding-top: 164px;
font-weight: 700;
font-size: 100px;
color: #fff;
text-transform: uppercase;
letter-spacing: 30px;
}

.align_text-left {
display: block;
padding-left: 50px;
}

.align_text-center {
display: block;
text-align: center;
padding-top: 20px;
padding-left: 30px;
}

.align_text-right {
display: block;
text-align: right;
padding-top: 14px;
padding-right: 20px;
}

.cover__description {
display: flex;
justify-content: space-between;
position: relative;
align-items: baseline;
padding-left: 50px;
padding-right: 50px;
}

.cover__description-text {
display: flex;
padding-top: 119px;
word-spacing: 18.5px;
text-transform: uppercase;
color: #fff;
font-size: 22px;
}

.bet-button {
width: 256px;
height: 51px;
background: transparent;
color: #fff;
border-color: #fff;
font-size: 22px;
text-transform: uppercase;
}

.lots__heading {
padding-top: 180px;
padding-left: 64px;
padding-bottom: 27px;
text-transform: uppercase;
font-size: 40px;
}

.lots__card-list {
display: flex;
flex-wrap: wrap;
gap: 25px;
justify-content: center;
list-style-type: none;
}

.lots__card-list-item {
display: flex;
flex-direction: column;
width: 334px;
min-height: 596px;
}

.card-link {
text-decoration: none;
height: 100%;
color: #fff;
}

.card {
display: flex;
flex-direction: column;
justify-content: space-between;
gap: 5px;
position: relative;
height: 100%;
padding: 48px 40px 48px 40px;
}

.card_type_film {
position: relative;
background-image: url(../images/card-lot-01.jpg);
background-size: cover;
background-position: center;
}

.card_type_book {
position: relative;
background-image: url(../images/card-lot-02.jpg);
background-size: cover;
background-position: center;
}

.card_type_picture {
position: relative;
background-image: url(../images/card-lot-03.jpg);
background-size: cover;
background-position: center;
}

.card__title {
position: relative;
text-transform: uppercase;
font-size: 22px;
line-height: 120%;
}

.card__text {
position: relative;
text-decoration: none;
color: #fff;
font-size: 20px;
line-height: 120%;
}

.lots__look-more-link {
display: block;
padding-top: 32px;
padding-left: 64px;
text-transform: lowercase;
font-size: 20px;
text-underline-offset: 4px;
}

.about {
padding: 120px;
}

.footer {
padding: 180px;
}


